.App{
  text-align: center;
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.App .navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(17, 158, 17);
}


nav{
  height: 35%;
  display: flex;
  flex-direction: column;
}

.heading{
  color: rgb(245, 243, 243);
  width: 70%;
  border-bottom: 5px solid rgb(243, 196, 196) ;
  margin: auto;
}

.sidebar .navigation{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 20px;
}

.sidebar .navigation img{
  width: 40px;
}

.sidebar .navigation a{
  background-color: aliceblue;
  padding: 7px 18px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: -30px;
  font-size: large;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: large;
}

.sidebar .navigation a:hover {
  background-color: blue;
  color: white;
  font-weight: 500;
  border: none;
  padding: 8px 20px;
}

.main .header{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: flex-end;
}

.main .header h1{
  font-weight: 750;
  letter-spacing: 0.2rem;
  line-height: 5rem;
  color: gray;
}

.main .search a{
  padding: 8px 25px;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.search .input{
  display: flex;
  align-items: flex-end;
}

.search input::placeholder{
  font-size: smaller;
  font-weight: 400;
}

.search .search-icon{
  width: 30px;
  height: 30px;
}

.main .search a:hover {
  background-color: blue;
}

.main .search{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.main .search input{
  padding: 8px 25px;
  border-radius: 20px;
  background-color: rgb(214, 213, 213);
  color: black;
  border: 1px solid transparent;

}

.board{
  width: 70vw;
  height: 70vh;
  border: 5px solid chocolate;
  display: flex;
  justify-content: space-around;
  margin: auto;
  border-radius: 30px;
}

.col{
  width: 25%;
  margin: 20px;
  border-radius: 10px;
}

.col h3{
  background-color: rgb(129, 189, 242);
  padding: 18px;
  color: rgb(114, 107, 107);
  font-size: large;
}

.col .section{
  background-color: rgb(199, 197, 197);
  border-radius: 10px;
  max-height: 70%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
}

.col .section::-webkit-scrollbar{
  display: none;
}

.issue{
  width: 85%;
  background-color: rgb(206, 73, 100);
  color: white;
  margin: 15px 0px;
  /* min-height: 10%; */
  border-radius: 20px;
  box-shadow: 0px 3px 5px 1px;
}



/* below css progress and done property applied in their respective column */

.progress{
  width: 85%;
  background-color: yellow;
  color: rgb(59, 59, 59);
  margin: 15px 0px;
  min-height: 10%;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 1px;
}

.done {
  width: 85%;
  background-color: green;
  color: white;
  margin: 15px 0px;
  min-height: 10%;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 1px;
}

.section .additional{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

.additional .delete{
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 3px;
  width: 25px;
  position: absolute;
  right: 0;
}



.issue .additional-info img{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.add-item{
  margin-top: 20px;
  width: 100%;
}

.add-item a{
  padding: 7px 30px;
  border-radius: 20px;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  background-color: navajowhite;
  transition: all 0.4s ease-in-out;
}

.add-item a:hover{
  background-color: chocolate;
  color: white;
}

.input-popup{
  border: 1px solid black;
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: wheat;
  border-radius: 20px;
  border: 2px solid transparent;
}

.input-popup form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form input,
form select,
form button{
  padding: 7px 60px;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-bottom: 15px;
}

form button{
  background-color: blueviolet;
  color: white;
  font-weight: 700;
}
